.square {
  height: 100px;
  width: 100px;
  background-color: #da6d42;
  display: inline;
  position: absolute;
  border-radius: 12%;
  border: 5px black;
}
#second{
right: 30%;
}

.diceFace{
  height: 100px;
  width: 100px;
}
#link{
  background-color: black;
  position: absolute;
  top:15%;
  left: 2%;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 1%;
  box-shadow: 0 2px #da6d42;
}
a{
  text-decoration: none;
  color:#e7cfb4;
}
#result,#resultP{
    display: inline-block;
  background-color: #e7cfb4;
  border-radius: 5px;
  padding: 2%;
  width: 10%;
  color: #563232;
  text-align: center;
}
#resultP{

  position: relative;
  left: 71.5%;
  top:5%;
}

body{
  background-image: url("wallpaperflare.com_wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#sound{
  background-color: transparent;
  border: none;
  width: 100%;
  position: absolute;
  top:2%;
  right: 45%;
  outline:none;
}
i{
font-size: 32px;
color:white;
}
.container{
  margin: 17% 20% 10% 29%;
}
